In [2]:
# Run this to ensure TensorFlow 2.x is used
try:
  # %tensorflow_version only exists in Colab.
  %tensorflow_version 2.x
except Exception:
    pass

In [3]:
import tensorflow as tf
print(tf.__version__)

2.0.0

In [4]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /home/john/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [5]:
import csv
import tensorflow as tf
import numpy as np
from tensorflow.keras.preprocessing.text import Tokenizer
from tensorflow.keras.preprocessing.sequence import pad_sequences
from nltk.corpus import stopwords
STOPWORDS = set(stopwords.words('english'))

In [6]:
vocab_size = 5000
embedding_dim = 64
max_length = 200
trunc_type = 'post'
padding_type = 'post'
oov_tok = '<OOV>'
training_portion = .8

In [13]:
articles = []
labelsList = []

#raw_data = pd.read_csv('/content/drive/My Drive/new_transaction.csv')

with open("isear.csv", 'r') as csvfile:
    reader = csv.reader(csvfile, delimiter=',')
    next(reader)
    for row in reader:
        labelsList.append(row[0])
        article = row[0]
        for word in STOPWORDS:
            token = ' ' + word + ' '
            article = article.replace(token, ' ')
            article = article.replace(' ', ' ')
        articles.append(article)
print(len(labelsList))
print(len(articles))

7666
7666

In [42]:
import pandas as pd

data = pd.read_csv("isear.csv", delimiter="|" , error_bad_lines=False)

b'Skipping line 199: expected 43 fields, saw 44\nSkipping line 222: expected 43 fields, saw 44\nSkipping line 248: expected 43 fields, saw 44\nSkipping line 350: expected 43 fields, saw 44\nSkipping line 395: expected 43 fields, saw 44\nSkipping line 423: expected 43 fields, saw 44\nSkipping line 480: expected 43 fields, saw 44\nSkipping line 552: expected 43 fields, saw 44\nSkipping line 601: expected 43 fields, saw 45\nSkipping line 604: expected 43 fields, saw 45\nSkipping line 612: expected 43 fields, saw 45\nSkipping line 722: expected 43 fields, saw 44\nSkipping line 765: expected 43 fields, saw 44\nSkipping line 800: expected 43 fields, saw 46\nSkipping line 818: expected 43 fields, saw 45\nSkipping line 891: expected 43 fields, saw 44\nSkipping line 928: expected 43 fields, saw 44\nSkipping line 963: expected 43 fields, saw 44\nSkipping line 965: expected 43 fields, saw 45\nSkipping line 974: expected 43 fields, saw 44\nSkipping line 985: expected 43 fields, saw 44\nSkipping line 1064: expected 43 fields, saw 44\nSkipping line 1068: expected 43 fields, saw 46\nSkipping line 1090: expected 43 fields, saw 45\nSkipping line 1091: expected 43 fields, saw 44\nSkipping line 1174: expected 43 fields, saw 44\nSkipping line 1175: expected 43 fields, saw 45\nSkipping line 1179: expected 43 fields, saw 44\nSkipping line 1193: expected 43 fields, saw 44\nSkipping line 1233: expected 43 fields, saw 44\nSkipping line 1239: expected 43 fields, saw 44\nSkipping line 1301: expected 43 fields, saw 44\nSkipping line 1312: expected 43 fields, saw 45\nSkipping line 1320: expected 43 fields, saw 44\nSkipping line 1349: expected 43 fields, saw 44\nSkipping line 1381: expected 43 fields, saw 45\nSkipping line 1439: expected 43 fields, saw 46\nSkipping line 1460: expected 43 fields, saw 45\nSkipping line 1465: expected 43 fields, saw 46\nSkipping line 1466: expected 43 fields, saw 44\nSkipping line 1476: expected 43 fields, saw 45\nSkipping line 1489: expected 43 fields, saw 46\nSkipping line 1506: expected 43 fields, saw 44\nSkipping line 1523: expected 43 fields, saw 44\nSkipping line 1539: expected 43 fields, saw 44\nSkipping line 1550: expected 43 fields, saw 44\nSkipping line 1576: expected 43 fields, saw 44\nSkipping line 1703: expected 43 fields, saw 44\nSkipping line 1712: expected 43 fields, saw 45\nSkipping line 1781: expected 43 fields, saw 44\nSkipping line 1946: expected 43 fields, saw 46\nSkipping line 1950: expected 43 fields, saw 44\nSkipping line 2038: expected 43 fields, saw 44\nSkipping line 2047: expected 43 fields, saw 44\nSkipping line 2048: expected 43 fields, saw 44\nSkipping line 2060: expected 43 fields, saw 44\nSkipping line 2083: expected 43 fields, saw 44\nSkipping line 2230: expected 43 fields, saw 44\nSkipping line 2241: expected 43 fields, saw 46\nSkipping line 2245: expected 43 fields, saw 45\nSkipping line 2250: expected 43 fields, saw 45\nSkipping line 2255: expected 43 fields, saw 46\nSkipping line 2272: expected 43 fields, saw 45\nSkipping line 2356: expected 43 fields, saw 44\nSkipping line 2358: expected 43 fields, saw 44\nSkipping line 2412: expected 43 fields, saw 45\nSkipping line 2432: expected 43 fields, saw 49\nSkipping line 2538: expected 43 fields, saw 46\nSkipping line 2548: expected 43 fields, saw 44\nSkipping line 2558: expected 43 fields, saw 45\nSkipping line 2569: expected 43 fields, saw 45\nSkipping line 2619: expected 43 fields, saw 44\nSkipping line 2659: expected 43 fields, saw 44\nSkipping line 2688: expected 43 fields, saw 44\nSkipping line 2722: expected 43 fields, saw 45\nSkipping line 2746: expected 43 fields, saw 44\nSkipping line 2780: expected 43 fields, saw 44\nSkipping line 2788: expected 43 fields, saw 44\nSkipping line 2804: expected 43 fields, saw 44\nSkipping line 2815: expected 43 fields, saw 44\nSkipping line 2817: expected 43 fields, saw 44\nSkipping line 2848: expected 43 fields, saw 44\nSkipping line 2903: expected 43 fields, saw 44\nSkipping line 2983: expected 43 fields, saw 44\nSkipping line 2999: expected 43 fields, saw 45\nSkipping line 3013: expected 43 fields, saw 44\nSkipping line 3060: expected 43 fields, saw 44\nSkipping line 3069: expected 43 fields, saw 45\nSkipping line 3180: expected 43 fields, saw 45\nSkipping line 3190: expected 43 fields, saw 45\nSkipping line 3193: expected 43 fields, saw 46\nSkipping line 3194: expected 43 fields, saw 45\nSkipping line 3195: expected 43 fields, saw 45\nSkipping line 3199: expected 43 fields, saw 44\nSkipping line 3210: expected 43 fields, saw 44\nSkipping line 3269: expected 43 fields, saw 44\nSkipping line 3279: expected 43 fields, saw 44\nSkipping line 3319: expected 43 fields, saw 44\nSkipping line 3327: expected 43 fields, saw 44\nSkipping line 3380: expected 43 fields, saw 44\nSkipping line 3448: expected 43 fields, saw 47\nSkipping line 3471: expected 43 fields, saw 44\nSkipping line 3490: expected 43 fields, saw 44\nSkipping line 3493: expected 43 fields, saw 44\nSkipping line 3511: expected 43 fields, saw 44\nSkipping line 3627: expected 43 fields, saw 45\nSkipping line 3635: expected 43 fields, saw 44\nSkipping line 3670: expected 43 fields, saw 44\nSkipping line 3684: expected 43 fields, saw 44\nSkipping line 3699: expected 43 fields, saw 44\nSkipping line 3707: expected 43 fields, saw 44\nSkipping line 3748: expected 43 fields, saw 44\nSkipping line 3772: expected 43 fields, saw 44\nSkipping line 3787: expected 43 fields, saw 45\nSkipping line 3872: expected 43 fields, saw 45\nSkipping line 3878: expected 43 fields, saw 44\nSkipping line 4011: expected 43 fields, saw 44\nSkipping line 4029: expected 43 fields, saw 44\nSkipping line 4147: expected 43 fields, saw 44\nSkipping line 4312: expected 43 fields, saw 44\nSkipping line 4407: expected 43 fields, saw 45\nSkipping line 4604: expected 43 fields, saw 44\nSkipping line 4627: expected 43 fields, saw 45\nSkipping line 4693: expected 43 fields, saw 44\nSkipping line 4694: expected 43 fields, saw 45\nSkipping line 4695: expected 43 fields, saw 44\nSkipping line 4697: expected 43 fields, saw 44\nSkipping line 4742: expected 43 fields, saw 44\nSkipping line 4744: expected 43 fields, saw 46\nSkipping line 4756: expected 43 fields, saw 44\nSkipping line 4763: expected 43 fields, saw 44\nSkipping line 4868: expected 43 fields, saw 44\nSkipping line 4909: expected 43 fields, saw 45\nSkipping line 4963: expected 43 fields, saw 44\nSkipping line 5026: expected 43 fields, saw 44\nSkipping line 5124: expected 43 fields, saw 44\nSkipping line 5168: expected 43 fields, saw 45\nSkipping line 5202: expected 43 fields, saw 45\nSkipping line 5255: expected 43 fields, saw 46\nSkipping line 5290: expected 43 fields, saw 45\nSkipping line 5295: expected 43 fields, saw 46\nSkipping line 5500: expected 43 fields, saw 45\nSkipping line 5511: expected 43 fields, saw 44\nSkipping line 5558: expected 43 fields, saw 44\nSkipping line 5560: expected 43 fields, saw 48\nSkipping line 5709: expected 43 fields, saw 44\nSkipping line 5835: expected 43 fields, saw 45\nSkipping line 6070: expected 43 fields, saw 47\nSkipping line 6101: expected 43 fields, saw 44\nSkipping line 6105: expected 43 fields, saw 45\nSkipping line 6107: expected 43 fields, saw 45\nSkipping line 6336: expected 43 fields, saw 45\nSkipping line 7115: expected 43 fields, saw 44\nSkipping line 7125: expected 43 fields, saw 44\nSkipping line 7339: expected 43 fields, saw 48\nSkipping line 7483: expected 43 fields, saw 46\nSkipping line 7487: expected 43 fields, saw 44\nSkipping line 7498: expected 43 fields, saw 46\nSkipping line 7584: expected 43 fields, saw 52\nSkipping line 7598: expected 43 fields, saw 44\nSkipping line 7617: expected 43 fields, saw 46\nSkipping line 7654: expected 43 fields, saw 48\nSkipping line 7656: expected 43 fields, saw 46\n'

In [33]:
data.head()

,ID,CITY,COUN,SUBJ,SEX,AGE,RELI,PRAC,FOCC,MOCC,...,RELA,VERBAL,NEUTRO,Field1,Field3,Field2,MYKEY,SIT,STATE,Unnamed: 42
0,11001,1,1,1,1,33,1,2,6,1,...,3,2,0,joy,4,3,110011,"During the period of falling in love, each tim...",1,NaN
1,11001,1,1,1,1,33,1,2,6,1,...,2,0,0,fear,3,2,110012,When I was involved in a traffic accident.,1,NaN
2,11001,1,1,1,1,33,1,2,6,1,...,1,0,0,anger,1,3,110013,When I was driving home after several days of...,1,NaN
3,11001,1,1,1,1,33,1,2,6,1,...,1,0,2,sadness,4,4,110014,When I lost the person who meant the most to me.,1,NaN
4,11001,1,1,1,1,33,1,2,6,1,...,2,0,0,disgust,4,4,110015,The time I knocked a deer down - the sight of ...,1,NaN

In [41]:
#data.drop(['ID', 'CITY', 'COUN', 'SUBJ','SEX', 'PRAC', 'MOCC','AGE','RELI','FOCC','FIEL'], axis = 1) 

# Remove all columns between column index 1 to 19
data.drop(data.iloc[:, 1:19], inplace = True, axis = 1)
data.head()

      ID
0  11001
1  11001
2  11001
3  11001
4  11001

In [51]:
df2 = data.loc[:,'Field1':'SIT']
df2 = df2.drop(['Field3', 'Field2', 'MYKEY'], axis = 1)
df2.head()

    Field1                                                SIT
0      joy  During the period of falling in love, each tim...
1     fear         When I was involved in a traffic accident.
2    anger  When I was driving home after  several days of...
3  sadness  When I lost the person who meant the most to me.
4  disgust  The time I knocked a deer down - the sight of ...